@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700,800,900&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class^="_icon-"]::after,
[class*=" _icon-"]::before,
[class*=" _icon-"]::after {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]::before,
[class^="_icon-"]::after,
[class*=" _icon-"]::before,
[class*=" _icon-"]::after {
  display: block;
}

._icon-search-plus:before {
  content: "\e900";
  font-size: 22px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

._icon-arrow-menu {
  display: none;
}

._icon-arrow:before {
  content: "\e902";
  font-size: 42px;
  color: #91c842;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

._icon-map-marker:before {
  content: "\e901";
  display: inline-block;
  font-size: 14px;
  color: #91c842;
  margin-right: 5px;
  vertical-align: middle;
}

._icon-phone:before {
  content: "\e904";
  display: inline-block;
  margin-right: 10px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  vertical-align: middle;
}

._icon-youtube:before {
  content: "\e906";
}

._icon-instagram:before {
  content: "\e907";
}

._icon-facebook:before {
  content: "\e908";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-size: 17px;
  color: #171717;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1390px;
  margin: 0 auto;
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  max-width: 600px;
  margin: 0 auto;
}

.subscription__form .form__input {
  display: block;
  width: 100%;
  padding: 16px 20px 17px;
  background: #fff;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 50px;
  font-family: inherit;
  font-size: 18px;
}

.subscription__form .form__btn {
  border: 3px solid #91c842;
  background-color: #91c842;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.top-die {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.top-die::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.top-die__title {
  color: #fff !important;
  font-size: 60px !important;
  font-weight: 500 !important;
  padding: 160px 20px;
  line-height: 113.43284%;
}

._active-link {
  color: #fff !important;
  background-color: #91c842 !important;
}

.title {
  font-size: 44px;
  line-height: 136.36364%;
  color: #282828;
  font-weight: 600;
  position: relative;
  z-index: 5;
}

.subtitle {
  font-size: 24px;
  line-height: 125%;
  color: #282828;
  font-weight: 600;
}

.text {
  line-height: 158.82353%;
}

.logo {
  max-width: 140px;
  height: auto;
}

.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #36363c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__link {
  font-size: 20px;
  color: #fff;
  padding: 10px;
}

.tel__link {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

#toTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 10000;
  background: #fff;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: opacity 0.8s ease, background 0.3s linear, -webkit-transform 0.8s ease 0s;
  transition: opacity 0.8s ease, background 0.3s linear, -webkit-transform 0.8s ease 0s;
  -o-transition: transform 0.8s ease 0s, opacity 0.8s ease, background 0.3s linear;
  transition: transform 0.8s ease 0s, opacity 0.8s ease, background 0.3s linear;
  transition: transform 0.8s ease 0s, opacity 0.8s ease, background 0.3s linear, -webkit-transform 0.8s ease 0s;
}

.arrow-to-show {
  -webkit-transform: translate(200%, 0%);
      -ms-transform: translate(200%, 0%);
          transform: translate(200%, 0%);
  opacity: 0;
}

.btn {
  padding: 10px 20px;
  height: 50px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 161.11111%;
  color: #fff;
}

.btn._fw {
  width: 100%;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.rub::after {
  content: "";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  content: counter(item);
  counter-increment: item;
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid black;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

/*--------------------------------------------------------------
## Preloader
--------------------------------------------------------------*/

.page-preloader {
  position: relative;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
}

.page-preloader-cover {
  position: fixed;
  z-index: 10000000;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.page-preloader__cube {
  position: relative;
  float: left;
  width: 50%;
  height: 50%;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.page-preloader__cube::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-animation: tmFoldCubeAngle 2.4s infinite linear both;
          animation: tmFoldCubeAngle 2.4s infinite linear both;
  background-color: #91c842;
}

.page-preloader--cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
      -ms-transform: scale(1.1) rotate(90deg);
          transform: scale(1.1) rotateZ(90deg);
}

.page-preloader--cube2::before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.page-preloader--cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
      -ms-transform: scale(1.1) rotate(180deg);
          transform: scale(1.1) rotateZ(180deg);
}

.page-preloader--cube3::before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.page-preloader--cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
      -ms-transform: scale(1.1) rotate(270deg);
          transform: scale(1.1) rotateZ(270deg);
}

.page-preloader--cube4::before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes tmFoldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes tmFoldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.top-panel {
  font-size: 14px;
  background-color: #000;
  color: #fff;
}

.top-panel *:last-child {
  margin-bottom: 0;
}

.top-panel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  position: relative;
}

.top-panel__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-panel .address__link {
  color: inherit;
  -webkit-transition: color 0.2s linear, -webkit-text-decoration 0.3s ease;
  transition: color 0.2s linear, -webkit-text-decoration 0.3s ease;
  -o-transition: text-decoration 0.3s ease, color 0.2s linear;
  transition: text-decoration 0.3s ease, color 0.2s linear;
  transition: text-decoration 0.3s ease, color 0.2s linear, -webkit-text-decoration 0.3s ease;
}

.top-panel .socials {
  margin-right: 20px;
}

.top-panel .socials__link {
  display: block;
  color: #888888;
  font-size: 16px;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.top-panel .socials__item {
  width: 16px;
  height: 16px;
  background-color: transparent;
}

.header {
  position: relative;
  z-index: 100;
}

.header__body {
  height: 110px;
  -webkit-box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.52);
          box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.52);
}

.header .fixed {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: inherit;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.52);
          box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.52);
  -webkit-animation-name: show-header;
          animation-name: show-header;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 115;
  height: 110px;
  background-color: #fff;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__tel {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@-webkit-keyframes show-header {
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show-header {
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.icon__menu {
  display: none;
}

.icon__menu span,
.icon__menu::before,
.icon__menu::after {
  content: "";
  background: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.icon__menu span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.icon__menu::before {
  top: 0;
}

.icon__menu::after {
  bottom: 0;
}

.icon__menu._active span {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.icon__menu._active::before {
  background: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

.icon__menu._active::after {
  background: #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
}

.nav-link {
  color: inherit;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

.sub-menu > li {
  line-height: 1.3;
}

body.mouse .nav-item > .nav-link:hover {
  color: #fff;
  background-color: #91c842;
}

body.mouse .menu > .nav-item:hover > .nav-link {
  background-color: #91c842;
  color: #fff;
}

body.mouse .menu .nav-item:hover > ul {
  top: 215%;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.52);
          box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.52);
}

body.mouse .sub-menu {
  width: 270px;
  position: absolute;
  left: 0;
  top: 300%;
  z-index: 500;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition-property: top, opacity, visibility;
  -o-transition-property: top, opacity, visibility;
  transition-property: top, opacity, visibility;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

body.mouse .sub-menu > li > a {
  color: inherit;
  font-size: 18px;
  font-weight: 400;
  background-color: #eee;
  display: block;
  padding: 13px 10px 13px 20px;
  border-bottom: 1px solid white;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.mouse .sub-menu > li > a:hover {
  color: #91c842;
  padding: 13px 10px 13px 30px;
}

body.mouse .sub-menu > li:last-child > a {
  border-bottom: none;
}

body.touch .sub-menu.open {
  max-height: 100vh;
  padding: 20px 0;
  -webkit-box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.52);
          box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.52);
}

body.touch .sub-menu {
  width: 230px;
  position: absolute;
  left: 0;
  top: 200%;
  z-index: 500;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}

body.touch .sub-menu > li > a {
  color: inherit;
  background-color: #fff;
  display: block;
  padding: 13px 10px 13px 20px;
  border-bottom: 1px solid #eee;
}

body.touch .sub-menu > li:last-child > a {
  border-bottom: none;
}

.sub-menu-toggle {
  position: absolute;
  width: 100%;
  height: 47px;
  right: 0%;
  top: 0%;
  z-index: 99;
  display: none;
}

.sub-menu-toggle.active .nav-link {
  background-color: #91c842;
}

.hidden {
  display: none;
}

.top-slider:hover .swiper-button-prev {
  left: 20px;
  opacity: 1;
}

.top-slider:hover .swiper-button-next {
  right: 20px;
  opacity: 1;
}

.top-slider .top-banner *:last-child {
  margin-bottom: 0;
}

.top-slider .top-banner__bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-slider .top-banner__content {
  padding: 270px 10px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.top-slider .top-banner__title {
  line-height: 1.2;
  font-size: 72px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.top-slider .top-banner__subtitle {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.top-slider .top-banner__btn {
  border: 3px solid #fff;
  -webkit-transition: background-color 0.3s linear, border 0.3s linear;
  -o-transition: background-color 0.3s linear, border 0.3s linear;
  transition: background-color 0.3s linear, border 0.3s linear;
}

.top-slider .swiper-button-prev {
  left: -10%;
}

.top-slider .swiper-button-next {
  right: -10%;
}

.top-slider .swiper-button-next.swiper-button-disabled,
.top-slider .swiper-button-prev.swiper-button-disabled {
  opacity: 0.3;
}

.top-slider .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  background: transparent;
  opacity: 1;
}

.top-slider .swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 35px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "\e903";
  font-family: "icons";
  color: #fff;
  font-size: 24px;
}

.swiper-button-next:after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.swiper-button-prev:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  opacity: 0;
  background-color: #91c842;
  -webkit-transition: background-color 0.3s ease, opacity 0.3s ease-in-out 0s, left 0.4s ease-in-out, right 0.4s ease-in-out;
  -o-transition: background-color 0.3s ease, opacity 0.3s ease-in-out 0s, left 0.4s ease-in-out, right 0.4s ease-in-out;
  transition: background-color 0.3s ease, opacity 0.3s ease-in-out 0s, left 0.4s ease-in-out, right 0.4s ease-in-out;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 60px 0px 80px 50px;
}

.about__title {
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about__text {
  margin-bottom: 40px;
}

.about__btn {
  background-color: #91c842;
  border: 3px solid #91c842;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.advantages {
  background-color: #242424;
}

.advantages *:last-child {
  margin-bottom: 0;
}

.advantages__inner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 -30px;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.advantages__icon {
  margin-top: 20px;
}

.advantages__icon img {
  width: 68px;
  height: 68px;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages__content {
  margin-left: 40px;
}

.advantages__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.advantages__text {
  color: #888888;
}

.subscription {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.subscription__inner {
  padding: 100px 0;
  text-align: center;
}

.subscription__title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer {
  background-color: #1a1a1a;
  color: #888888;
  font-size: 18px;
  line-height: 155.55556%;
}

.footer__inner {
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}

.footer__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  padding: 0 20px;
}

.footer-die {
  border-top: 1px solid #fff;
  padding: 30px 0px;
}

.footer-die span {
  font-size: 17px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.footer-title {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 15px;
}

.schedule__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.schedule__date,
.schedule__time {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.schedule__time {
  text-align: right;
}

.information__link {
  color: inherit;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer-menu__link {
  color: inherit;
  font-size: 20px;
  line-height: 175%;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.additional-information__link {
  color: inherit;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.portfolio {
  background-color: #f3f3f3;
}

.portfolio__inner {
  padding-top: 100px;
  padding-bottom: 70px;
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px -15px -65px -15px;
}

.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 15px;
  overflow: hidden;
  margin-bottom: 50px;
}

.portfolio__link {
  display: block;
  height: 250px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}

.portfolio__link::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(1%, rgba(255, 255, 255, 0.01)), color-stop(81%, rgba(0, 0, 0, 0.82)), color-stop(99%, black));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(0, 0, 0, 0.82) 81%, black 99%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(0, 0, 0, 0.82) 81%, black 99%);
}

.portfolio__link:hover .cover {
  opacity: 1;
}

.portfolio__link:hover .cover::before {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
}

.portfolio__link .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  background: rgba(145, 200, 66, 0.9);
  z-index: 2;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.portfolio__link .cover::before {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0%, 200%);
      -ms-transform: translate(0%, 200%);
          transform: translate(0%, 200%);
}

.portfolio__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__subtitle {
  font-size: 22px;
  line-height: 136.36364%;
  margin-bottom: 10px;
}

.portfolio__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 30px;
}

.portfolio__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: 1px solid #91c842;
  background-color: #91c842;
  -webkit-transition: background-color 0.3s ease, color 0.3s linear;
  -o-transition: background-color 0.3s ease, color 0.3s linear;
  transition: background-color 0.3s ease, color 0.3s linear;
}

.project {
  background-color: #f3f3f3;
  color: #282828;
}

.project *:last-child {
  margin-bottom: 0;
}

.project__inner {
  padding-top: 120px;
}

.project__title {
  margin-bottom: 70px;
}

.project__content {
  padding: 40px 0;
}

.project__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -25px;
}

.project__column {
  overflow: hidden;
  padding: 0 25px;
}

.project__column_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.project__column_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
}

.project__link {
  display: block;
  height: 280px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.project__link::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(1%, rgba(255, 255, 255, 0.01)), color-stop(81%, rgba(0, 0, 0, 0.82)), color-stop(99%, black));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(0, 0, 0, 0.82) 81%, black 99%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(0, 0, 0, 0.82) 81%, black 99%);
}

.project__link:hover .cover {
  opacity: 1;
}

.project__link:hover .cover::before {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
}

.project__link .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  background: rgba(145, 200, 66, 0.9);
  z-index: 2;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.project__link .cover::before {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0%, 200%);
      -ms-transform: translate(0%, 200%);
          transform: translate(0%, 200%);
}

.project__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.project__subtitle {
  margin-bottom: 20px;
}

.project__item {
  color: #23282d;
  line-height: 147.05882%;
  font-weight: 500;
}

.project__item + .project__item {
  margin-top: 10px;
}

.project__item span {
  font-weight: 300;
  margin-left: 7px;
}

.project__list li {
  list-style: inside;
  line-height: 147.05882%;
  margin-bottom: 10px;
}

.project-full-slider {
  overflow: visible !important;
}

.project-full-slider__image {
  width: 100%;
  height: 700px;
}

.project-full-slider__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.project-full-slider .swiper-button-prev,
.project-full-slider .swiper-button-next {
  height: 50px;
  width: 50px;
  opacity: 1;
}

.project-full-slider .swiper-button-prev {
  left: -10%;
}

.project-full-slider .swiper-button-next {
  right: -10%;
}

.project-mini-slider {
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.project-mini-slider__slide {
  width: 100px !important;
  height: 100px !important;
  opacity: 0.5;
  margin-right: 5px;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.project-mini-slider__slide.swiper-slide-thumb-active {
  opacity: 1;
}

.project-mini-slider__image {
  border: 1px solid #fff;
  height: 100px;
  position: relative;
  cursor: pointer;
}

.project-mini-slider__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.product {
  background-color: #f3f3f3;
}

.product__inner {
  padding-top: 120px;
  padding-bottom: 100px;
}

.product__title {
  margin-bottom: 50px;
  line-height: 131.57895%;
}

.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -25px;
  overflow: hidden;
}

.product__sliders {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  padding: 0 25px;
}

.product__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  padding: 0 25px;
}

.product__subtitle {
  margin-bottom: 20px;
}

.product__item {
  color: #23282d;
  line-height: 147.05882%;
  font-weight: 500;
}

.product__item + .product__item {
  margin-top: 10px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -ms-flex-item-align: start;
      align-self: start;
}

.slider__horizontal {
  margin-left: 30px;
  min-width: 0;
  max-width: 700px;
}

.slider__horizontal-item {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  width: 700px;
  height: 400px;
  position: relative;
}

.slider__horizontal-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

/* Лента слайдов */

.slider__horizontal .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__vertical {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  width: 110px;
  min-width: 0;
  min-height: 0;
  padding: 50px 0;
}

.slider__vertical-item {
  min-height: 100px;
  position: relative;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.slider__vertical-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  border: 4px solid #7aaa00;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.slider__vertical-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

/* Слайд активный (показывается) */

.slider__vertical .slick-slide.slick-active {
  cursor: pointer;
}

.slider__vertical .slick-list.draggable {
  padding: 0 !important;
}

/* Слайд по центру */

.slider__vertical .slick-slide.slick-center {
  position: relative;
}

.slider__vertical .slick-slide.slick-center::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 4px solid #7aaa00;
  opacity: 1;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/* Стрелка */

.slider__vertical .slick-arrow {
  position: absolute;
  display: block;
  height: 40px;
  width: 100%;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background-color: #e9e9e9;
  color: transparent;
  left: 0;
  padding: 0;
  outline: none;
  z-index: 10;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.slider__vertical .slick-arrow::before {
  content: "";
  font-family: icons;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 15px;
  height: 15px;
  border-top: 1px solid #b3b3b4;
  border-left: 1px solid #b3b3b4;
  z-index: 20;
  -webkit-transition: border 0.3s ease;
  -o-transition: border 0.3s ease;
  transition: border 0.3s ease;
}

/* Стрелка влево */

.slider__vertical .slick-arrow.slick-prev {
  top: 0;
}

.slider__vertical .slick-arrow.slick-prev::before {
  -webkit-transform: rotate(45deg) translate(-50%, 20%);
      -ms-transform: rotate(45deg) translate(-50%, 20%);
          transform: rotate(45deg) translate(-50%, 20%);
}

/* Стрелка вправо  */

.slider__vertical .slick-arrow.slick-next {
  bottom: 0;
}

.slider__vertical .slick-arrow.slick-next::before {
  -webkit-transform: rotate(-135deg) translate(90%, 30%);
      -ms-transform: rotate(-135deg) translate(90%, 30%);
          transform: rotate(-135deg) translate(90%, 30%);
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

.service {
  background-color: #f3f3f3;
}

.service__inner {
  padding-top: 70px;
  padding-bottom: 70px;
}

.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -25px;
  padding: 60px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.service__row:last-child {
  border-bottom: none;
}

.service__row:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.service__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 25px;
}

.service__images {
  width: 100%;
  height: 450px;
  position: relative;
}

.service__images img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.service__subtitle {
  margin-bottom: 30px;
}

/* Анимация главного баннера(слайдера) */

.top-slider .top-banner__content {
  -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out 0s;
  transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out 0s;
  -o-transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out 0s;
  -webkit-transform: translate(0%, 15%);
      -ms-transform: translate(0%, 15%);
          transform: translate(0%, 15%);
  opacity: 0;
}

.top-slider .top-banner__content._active {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
}

/* Анимация блока преимуществ(иконки) */

.advantages__icon {
  -webkit-transition: opacity 0.8s ease-in-out 0s, -webkit-transform 0.8s ease-in-out 0s;
  transition: opacity 0.8s ease-in-out 0s, -webkit-transform 0.8s ease-in-out 0s;
  -o-transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s;
  transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s;
  transition: transform 0.8s ease-in-out 0s, opacity 0.8s ease-in-out 0s, -webkit-transform 0.8s ease-in-out 0s;
  -webkit-transform: translate(-100%, 0%);
      -ms-transform: translate(-100%, 0%);
          transform: translate(-100%, 0%);
  opacity: 0;
}

.advantages__icon._active {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
}

/* Анимация секции услуг(блок с текстом) */

.service__row:nth-child(even) .service__text {
  -webkit-transition: opacity 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
  transition: opacity 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
  -o-transition: transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
  -webkit-transform: translate(-100%, 0%);
      -ms-transform: translate(-100%, 0%);
          transform: translate(-100%, 0%);
  opacity: 0;
}

.service__row:nth-child(odd) .service__text {
  -webkit-transition: opacity 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
  transition: opacity 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
  -o-transition: transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s;
  transition: transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s, -webkit-transform 1s ease-in-out 0s;
  opacity: 0;
  -webkit-transform: translate(100%, 0%);
      -ms-transform: translate(100%, 0%);
          transform: translate(100%, 0%);
}

.service__row:nth-child(even) .service__text._active {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
}

.service__row:nth-child(odd) .service__text._active {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
}

/* Анимация секции работ */

.portfolio__item {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.6s ease 0s;
  transition: -webkit-transform 0.6s ease 0s;
  -o-transition: transform 0.6s ease 0s;
  transition: transform 0.6s ease 0s;
  transition: transform 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
}

.portfolio__item._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 767.98px) {
  ._active-link {
    -webkit-box-shadow: 3px 3px 6px 2px rgba(145, 200, 66, 0.52);
            box-shadow: 3px 3px 6px 2px rgba(145, 200, 66, 0.52);
  }
}

@media (min-width: 991.98px) {
  .subscription__form .form__btn:hover {
    background-color: transparent;
    border: 3px solid #91c842;
  }

  .socials__item:hover {
    background-color: #91c842;
  }

  .tel__link {
    font-size: 20px;
  }

  .tel__link:hover {
    text-decoration: underline;
  }

  #toTop:hover {
    background: #000;
  }

  .top-panel .address__link:hover {
    color: #91c842;
    text-decoration: underline;
  }

  .top-panel .socials__link:hover {
    color: #fff;
  }

  .top-panel .socials__item:hover {
    background-color: transparent;
  }

  .top-slider .top-banner__content:hover .swiper-button-prev {
    left: 0;
  }

  .top-slider .top-banner__btn:hover {
    background-color: #91c842;
    border: 3px solid #91c842;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: #000;
  }

  .about__btn:hover {
    background-color: #fff;
    color: #91c842;
  }

  .information__link:hover {
    color: #fff;
  }

  .footer-menu__link:hover {
    color: #91c842;
  }

  .additional-information__link:hover {
    color: #fff;
  }

  .portfolio__subtitle:hover {
    text-decoration: underline;
  }

  .portfolio__btn:hover {
    color: #91c842;
    background-color: transparent;
    border: 1px solid #91c842;
  }

  .slider__vertical-item:hover::after {
    opacity: 1;
  }

  .slider__vertical .slick-arrow:hover {
    background-color: rgba(0, 0, 0, 0.55);
  }

  .slider__vertical .slick-arrow:hover::before {
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
  }
}

@media (max-width: 1405px) {
  ._container {
    max-width: 970px;
  }

  .top-die__title {
    font-size: 50px !important;
    padding: 100px 20px;
  }

  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 22px;
  }

  .nav-link {
    font-size: 16px;
  }

  .sub-menu-toggle {
    display: block;
  }

  #nav-item-2,
  #nav-item-4 {
    display: none;
  }

  #nav-item-1 {
    display: block;
  }

  .top-slider .top-banner__content {
    padding: 200px 0;
  }

  .top-slider .top-banner__title {
    font-size: 57px;
    margin-bottom: 20px;
  }

  .footer__items {
    margin: 0 -10px;
  }

  .footer__item {
    padding: 0 10px;
  }

  .footer__item:nth-child(3) {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 15%;
            flex: 1 0 15%;
  }

  .portfolio__inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .project__title {
    margin-bottom: 50px;
  }

  .product__content {
    margin: 0 -10px;
  }

  .product__sliders {
    padding: 0 10px;
  }

  .product__description {
    padding: 0 10px;
  }

  .slider__horizontal {
    margin-left: 20px;
  }

  .slider__vertical {
    width: 90px;
  }

  .service__inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .service__row {
    margin: 0 -15px;
  }

  .service__column {
    padding: 0 15px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .top-die__title {
    font-size: 40px !important;
    padding: 70px 20px;
  }

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 20px;
  }

  .logo {
    max-width: 120px;
  }

  .header__body {
    height: 80px;
  }

  .header__inner {
    height: 80px;
  }

  .nav-link {
    padding: 14px;
  }

  #nav-item-1,
  #nav-item-2,
  #nav-item-4,
  #nav-item-5 {
    display: none;
  }

  #nav-item-3 {
    display: block;
  }

  .top-slider .top-banner__title {
    font-size: 46px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .about__content {
    padding: 40px 0px 50px 30px;
  }

  .about__title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .advantages__items {
    margin: 0 -20px;
  }

  .advantages__column {
    padding: 20px;
    display: block;
  }

  .advantages__icon {
    margin-top: 0;
    text-align: center;
    margin-bottom: 40px;
  }

  .advantages__content {
    margin-left: 20px;
  }

  .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -20px;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 20px;
  }

  .footer__item:nth-child(1) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .footer__item:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__item:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }

  .footer__item:nth-child(4) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .portfolio__inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .portfolio__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .project__inner {
    padding-top: 70px;
  }

  .project__title {
    margin-bottom: 35px;
  }

  .project__row {
    margin: 0;
    display: block;
  }

  .project__column {
    padding: 0;
  }

  .project__column_left {
    max-width: 600px;
    margin: 0 auto 30px;
  }

  .project-full-slider__image {
    height: 500px;
  }

  .project-full-slider .swiper-button-prev {
    left: 0px;
  }

  .product__inner {
    padding-top: 70px;
  }

  .product__title {
    margin-bottom: 30px;
  }

  .product__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }

  .product__sliders {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0;
    margin-bottom: 50px;
  }

  .product__description {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0;
  }

  .slider__vertical {
    width: 100px;
  }

  .service__inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .service__images {
    height: 350px;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  .project__column_left {
    max-width: 400px;
  }
}

@media (max-width: 767.98px) {
  ._icon-arrow-menu:before {
    content: "\e903";
    display: block;
    position: absolute;
    right: 40px;
    top: 50%;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  ._icon-arrow-menu.arrow.active {
    -webkit-transform: scale(1, -1);
        -ms-transform: scale(1, -1);
            transform: scale(1, -1);
  }

  ._icon-phone:before {
    margin-right: 6px;
  }

  ._container {
    max-width: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .top-die__title {
    padding: 50px 10px;
    font-size: 27px !important;
    text-align: center;
  }

  .title {
    font-size: 26px;
  }

  .subtitle {
    font-size: 18px;
  }

  .logo {
    max-width: 100px;
  }

  .btn {
    font-size: 16px;
    padding: 8px 15px;
  }

  .header__body {
    height: 70px;
  }

  .header__inner {
    height: 70px;
  }

  .icon__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 35px;
    height: 25px;
    cursor: pointer;
    z-index: 5;
    position: relative;
  }

  .main-navigation {
    max-height: 0vh;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: auto;
    background-color: #eee;
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    z-index: 1;
  }

  .main-navigation._active {
    overflow: auto;
    max-height: 80vh;
    padding: 40px 0;
  }

  .menu {
    display: block;
  }

  .nav-link {
    display: block;
    padding: 15px 30px;
    border-bottom: 1px solid #dbdbdb;
  }

  .menu #nav-item-2 > a {
    border-bottom: none;
  }

  body.touch .sub-menu {
    border-top: none;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 100;
    position: static;
  }

  body.touch .sub-menu > li > a {
    background-color: #fff;
    padding: 10px 10px 10px 40px;
  }

  #nav-item-2,
  #nav-item-4,
  #nav-item-5 {
    display: block;
  }

  #nav-item-3 {
    display: none;
  }

  .top-slider .top-banner__content {
    padding: 160px 0;
  }

  .top-slider .top-banner__title {
    font-size: 32px;
  }

  .top-slider .top-banner__subtitle {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .top-slider .top-banner__btn {
    border: 1px solid #fff;
  }

  .top-slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .about__inner {
    display: block;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .about__image {
    display: block;
    max-width: 100%;
    height: 300px;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .about__content {
    padding: 0;
    text-align: center;
  }

  .project__inner {
    padding-top: 50px;
  }

  .project__title {
    margin-bottom: 20px;
  }

  .project__link {
    height: 200px;
  }

  .project__item {
    font-size: 14px;
    line-height: 142.85714%;
  }

  .project {
    font-size: 14px;
    line-height: 142.85714%;
    margin-bottom: 7px;
  }

  .project-full-slider__image {
    height: 400px;
  }

  .project-mini-slider {
    bottom: 15px;
  }

  .project-mini-slider__slide {
    width: 70px !important;
    height: 70px !important;
  }

  .product__inner {
    padding-top: 50px;
  }

  .product__title {
    margin-bottom: 20px;
    text-align: center;
  }

  .slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .slider__horizontal {
    margin-left: 0;
    max-width: 800px;
    margin-bottom: 20px;
  }

  .slider__horizontal-item {
    height: 400px;
  }

  .slider__vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 100%;
    max-width: 730px;
  }

  .slider__vertical-item {
    height: 150px;
    border-top: none;
    border-bottom: none;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
  }

  .slider__vertical .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .service__inner {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .service__row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }

  .service__images {
    margin-bottom: 30px;
  }

  .service__subtitle {
    margin-bottom: 15px;
  }
}

@media (max-width: 680.98px) {
  ._icon-map-marker:before {
    font-size: 11px;
    margin-right: 0;
  }

  .subscription__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .title {
    font-size: 22px;
    text-align: center;
  }

  .tel__link {
    font-size: 16px;
  }

  .top-panel {
    font-size: 11px;
  }

  .top-panel__inner {
    display: block;
  }

  .top-panel__left {
    margin-bottom: 10px;
  }

  .top-panel__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .top-panel .socials__link {
    font-size: 20px;
    padding: 10px 20px;
  }

  .top-panel .socials__item {
    width: 30px;
  }

  .top-panel .socials {
    margin-right: 0px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }

  .top-slider .top-banner__title {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 26px;
  }

  .top-slider .top-banner__subtitle {
    font-size: 16px;
  }

  .about__image {
    height: 200px;
  }

  .advantages__items {
    margin: 0;
  }

  .advantages__item {
    margin-bottom: 40px;
  }

  .advantages__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  .advantages__icon {
    margin-bottom: 20px;
  }

  .advantages__icon img {
    width: 50px;
    height: 50px;
  }

  .advantages__content {
    margin-left: 0;
  }

  .subscription__title {
    font-size: 20px;
  }

  .footer__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }

  .footer-die {
    text-align: center;
    padding: 20px 0;
  }

  .footer-die span {
    font-size: 12px;
  }

  .schedule__date,
  .schedule__time {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .portfolio__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .portfolio__link {
    height: 180px;
  }

  .portfolio__btn {
    font-size: 18px;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .project__link {
    margin-bottom: 15px;
  }

  .project__link {
    height: 180px;
  }

  .project-full-slider__image {
    height: 300px;
  }

  .project-mini-slider__slide {
    width: 60px !important;
    height: 60px !important;
  }

  .slider__horizontal-item {
    height: 250px;
  }

  .slider__vertical-item {
    height: 100px;
  }

  .service__images {
    height: 250px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1405px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px) and (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 680.98px){

@supports (-webkit-appearance:none){

}

}
